.desktop_menu {
  display: none;
}
.new_folder_button {
  width: 100%;
  margin-bottom: 15px;
}
.drawer {
  overflow: auto;
}

@media only screen and (min-width: 900px) {
  .mobile_menu {
    display: none;
  }
  .desktop_menu {
    display: block;
  }
  .container {
    width: 300px;
    height: calc(100vh - 70px);
    padding: 20px;
    position: fixed;
    left: 0px;
    overflow: auto;
  }
}
