.span {
  font-size: 14px;
  text-align: left;
  padding-left: 12px;
}
.menu_item_three {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  width: 100%;
}
.item {
  text-align: center;
}
.menu_container {
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu_container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.menu_container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
