.page_container {
  height: 60vh;
  display: flex;
  align-items: center;
}
.box {
  background-color: rgb(10, 10, 10);
  width: 500px;
  max-width: calc(95% - 60px);
  border-radius: 10px;
  padding: 30px;
  border: 1px solid rgb(50, 50, 50);
  margin: auto;
}
.hr {
  margin-bottom: 20px;
  color: rgb(70, 70, 70);
}
.input {
  width: 100%;
  margin-bottom: 30px !important;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.button {
  margin-left: 10px;
}
.back_home {
  display: flex;
  align-items: center;
  justify-content: center;
}
.back_home a {
  color: white;
}
