.bubble_menu {
  padding: 5px;
  background-color: rgb(70, 70, 70);
  border-radius: 5px;
}
.bubble_menu button {
  background-color: transparent;
  border: none;
  color: white;
  margin-right: 2px;
  margin-left: 2px;
  padding: 3px;
  width: 30px;
  border-radius: 5px;
  transition: 100ms;
}
.bubble_menu button:hover {
  background-color: rgb(100, 100, 100);
  transition: 100ms;
}
