.container {
  overflow-x: hidden;
  background-color: black;
  color: white;
}

.content {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.image_section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  margin-bottom: 30vh;
}
.image_section_header {
  font-size: 2rem;
}
.image_right_section {
  margin-top: 100px;
}
.illustration_image {
  width: 50%;
  margin: auto;
  height: fit-content;
}
.image {
  width: 100%;
  border-radius: 5px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
}
.footer > img {
  width: 50px;
}
