.container {
  overflow-x: hidden;
  background-color: black;
  color: white;
}

.jumbo {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: show;
  background-position: center;
  background-size: cover;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1500px;
  margin: auto;
  align-items: center;
  padding: 50px;
}
.header_text {
  font-size: 3rem;
  line-height: 2rem;
  margin-top: 10px;
  margin-bottom: 30px;
}

.images_preview {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.images_glow {
  box-shadow: 10px 10px 500px 200px rgb(34, 139, 230);
  height: 0px;
  width: 0px;
  position: absolute;
  z-index: 0;
}

.jumbo_image_1,
.jumbo_image_2,
.jumbo_image_3 {
  width: 30vw;
  max-width: 500px;
  min-width: 300px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.jumbo_image_1 {
  margin-left: 150px;
  margin-bottom: -100px;
}
.jumbo_image_2 {
  margin-left: -100px;
}
.jumbo_image_3 {
  margin-top: -120px;
}

.content {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.image_section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  margin-bottom: 30vh;
}
.image_section_header {
  font-size: 2rem;
}
.image_right_section {
  margin-top: 100px;
}
.illustration_image {
  width: 50%;
  margin: auto;
  height: fit-content;
}
.image {
  width: 100%;
  border-radius: 5px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
}
.footer > img {
  width: 50px;
}
