.container {
  overflow-x: hidden;
  background-color: black;
  color: white;
}

.content {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.image_section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  margin-bottom: 30vh;
}
.image_section_opposite {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  margin-bottom: 30vh;
}
.image_right_section > h2 {
  font-size: 2rem;
}
.image_right_section {
  margin-top: 100px;
}
.image_right_section > img {
  width: 50%;
  margin: auto;
  height: fit-content;
}
.image {
  width: 100%;
  border-radius: 5px;
}

@media only screen and (max-width: 900px) {
  .image_section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
  }
  .image_section_opposite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
  }
  .image {
    width: 100%;
    border-radius: 5px;
    z-index: 10;
  }
  .image_right_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
