.footer_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.confirm_alert {
  margin-top: 10px;
  margin-bottom: 10px;
}
.accordion_container {
  margin-top: 10px;
  margin-bottom: 10px;
}
