.container {
  background-color: inherit;
  padding: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: calc(100%);
  z-index: 100;
}
.content {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.header_right_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.sync_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sync_container > p {
  margin-left: 5px;
}
.desktop_search_bar {
  display: none;
}
.mobile_search_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

@media only screen and (min-width: 900px) {
  .content {
    display: flex;
    justify-content: space-between;
  }
  .action_icon_mobile_menu {
    display: none;
  }
  .desktop_search_bar {
    display: block;
    margin-right: 10px;
  }
  .mobile_search_button {
    display: none;
  }
}
