.container {
  background-color: transparent;
  padding: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: calc(100%);
  backdrop-filter: blur(5px);
}
.content {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_right_container {
  display: flex;
  align-items: center;
}
.sync_container {
  display: flex;
  align-items: center;
}
.sync_container > p {
  margin-left: 5px;
}
@media only screen and (min-width: 900px) {
  .action_icon_mobile_menu {
    display: none;
  }
}
